*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    height:100vh;
    margin: 20px;
    background: radial-gradient(rgb(2, 205, 231) , #999) ;
}
.header{
    font-size:24px;
    font-weight: 900;

}
#task-list{
    max-width: 400px;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#task-list li{
    font-weight:600;
    margin: 10px 0;
}
#task-list button{
    background-color: red;
    color: white;
    border:none;
    cursor: pointer;
    padding:5px;
}
#task-list button:hover{
    background-color: rgb(156, 0, 0);
}
.inner-section{
    text-align: center;
    max-width: 400px;
    align-self: center;
    margin:auto;
    padding: 20px;
    background-color: rgb(201, 202, 113);
    height: auto;
    min-height: 80vh;
    border-radius: 20px;
    border: 10px dashed rgb(160, 161, 91);
}
.outer-section{
}
.content{
    
}
.remove-btn{
    float: right;
}
.list{
    max-width: 300px;
    border-bottom: 1px dashed #777;
}
.new-task{
    margin: 10px 0;
    font-weight: 600;
}
#submit-btn{
    background-color: green;
    border: none;
    font-weight: 600;
    color: #ccc;
    cursor: pointer;
    height: 25px;

}
#submit-btn:hover{
    background-color: rgb(0, 83, 0);
    transition: 2s;
}
